---
import Navbar from "../components/layout/Navbar";
import Hero from "../components/layout/Hero";

import "../styles/global.css";

import ChordApp from "../components/chord/ChordApp";
---

<html lang="es">
  <body
    class="min-h-screen
      bg-gradient-to-br
      from-zinc-950
      via-slate-900
      to-black
      text-white"
  >
    <Navbar client:load />

    <main class="mx-auto max-w-7xl px-6">
      <Hero client:load />

      <ChordApp client:load />
    </main>
  </body>
</html>
